@inject SignInManager<ApplicationUser> SignInManager

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="btn btn-primary @ManageNavPages.ChangePasswordNavClass(ViewContext) " id="change-password" asp-page="./ChangePassword">Password</a></li>
    <br />
    <li class="nav-item"><a class="btn btn-primary @ManageNavPages.PersonalDataNavClass(ViewContext) " id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>
