@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<style>
    .ui-datepicker {
        background-color: white !important;
        z-index: 9999 !important;
        border: 1px solid #ccc;
    }

        .ui-datepicker a {
            color: #000;
        }
</style>


<div class="row">
    <div class=" h-100 d-flex align-items-center justify-content-center">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1>@ViewData["Title"]</h1>
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="John" />
                <label asp-for="Input.FirstName">First Name</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="Doe" />
                <label asp-for="Input.LastName">Last Name</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <!--Added type="text" verride the browser's native datepicker behavior. You can achieve this by changing the input type for the DateOfBirth field from type="date" (which triggers the built-in picker) to type="text"-->
                <input asp-for="Input.DateOfBirth" type="text" class="form-control" aria-required="true" placeholder="Select Date" id="DateOfBirth" value="1/1/1990" />
                <label asp-for="Input.DateOfBirth">Date Of Birth</label>
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <label asp-for="Input.RoleName" class="control-label"></label>
            <br />
            @foreach(var role in Model.Input.RoleNames)
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Input.RoleName" value="@role">
                    <label class="form-check-label" asp-for="Input.RoleName">
                        @role
                    </label>
                </div>
            }
            <span asp-validation-for="Input.RoleName" class="texxt-danger"></span>
            <br />
            <label asp-for="Input.DepartmentName" class="control-label"></label>
            <br />
            @foreach (var depName in Model.Input.DepartmentNames)
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Input.DepartmentName" value="@depName">
                    <label class="form-check-label" asp-for="Input.DepartmentName">
                        @depName
                    </label>
                </div>
            }
            <span asp-validation-for="Input.DepartmentName" class="texxt-danger"></span>
            <br />
            <div class="form-floating mb-3">
                <input asp-for="Input.SkillLevel" class="form-control" aria-required="true" placeholder="" />
                <label asp-for="Input.SkillLevel">Skill Level</label>
                <span asp-validation-for="Input.SkillLevel" class="text-danger"></span>
            </div>
            <br />
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            // Initialize jQuery datepicker on the #DateOfBirth field
            $("#DateOfBirth").datepicker({
                dateFormat: "mm/dd/yy", // Customize as needed
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+0" // Allow past 100 years
            });
        });
    </script>
}


